.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
//variable
//spacing
$enable-negative-margins: true;

//color
$light: #ffffff;
$success: #198754;
$danger: #DC3545;
$gray-100: #F8F9FA;
$gray-400: #CED4DA;
$gray-500: #00000062;
$gray-600: #6C757D;
$gray-900: #212529;

.text-gray-900{
  color: $gray-900;
}
.text-gray-600{
  color: $gray-600;
}
.text-success{
  color: $success;
}
.border-success{
  border: 1px solid $success;
}

*,*:before,*:after{
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
}

.h-100vh{
  height: 100vh;
}
.h-6d875vh{
  height: 6.875vh;
}
.p-4px{
  padding: 4px !important;
}
.pt-4px{
  padding-top: 4px !important;
}
.pt-5px{
  padding-bottom: 5px !important;
}
.py-2vh{
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.py-1vh{
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.pt-2vh{
  padding-top: 2vh;
}
.pb-3vh{
  padding-bottom: 3vh;
}
.mt-3vh{
  margin-top: 3vh;
}
.img-40{
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.icon-24{
  width: 24px;
  height: 24px;
}
.fs-14px{
  font-size: 14px;
}

aside{
  a{
    color: $gray-900;
  }
  a:hover{
    color: $success;
  }
}
.icon-label{
  width: 4px;
  height: 32px;
  background-color: $success;
  display: inline-block;
  vertical-align: middle;
  margin-left: -30px;
  margin-right: 24px;
}
.h32-px{
  max-height: 32px;
}
.m-n{
  margin-left: -762px;
}

.main-head,
.table{
  a:hover>span{
    color: $success
  }
}


.pagination-alignment{
  display: flex;
  justify-content: flex-end;
  margin-top: 6.8vh;
  a:focus{
    box-shadow: none;
  }
  a:hover{
    background: $success;
  }
  a:hover>span{
    color: $white;
  }
}

.verify-btn{
  padding: 4px 8px;
  border-radius: 2px;
  background: $gray-100;
  font-size: 14px;
}
.fs-14px{
  font-size: 14px;
}
.fs-24px{
  font-size: 24px;
}
.object-fill{
  object-fit: cover;
}
.w-166{
  width: 166px;
}
.h-24{
  height: 24px;
}
.me-n16px{
  margin-right: -16px;
}
.modal .btn-close{
  opacity: 1;
}
.border-none{
  border: 0;
}
.border-radius-none{
  border-radius: 0;
}
.border-radius-2{
  border-radius: 2px;
}
.h-24{
  height: 24px;
}
.h-48{
  height: 48px;
}
.border-bottom-gray-400{
  border-bottom: 1px solid $gray-400;
}
.border-gray-400{
  border: 1px solid $gray-400;
}
.border-gray-900{
  border: 1px solid $gray-900;
}
.w-480{
  width: 480px;
}